@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;800&display=swap');

.menu {
    display: flex;
    flex-direction: row;
    margin: 45px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Public Sans', sans-serif;
}

.itensMenu {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 400;
    align-items: baseline;
}

.itensMenu li{
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
    flex: 1 0 auto;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    flex: 1 0 auto;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a.botaoEmDestaque{
    background-color: var(--cor-botao);
    color: #ffffff;
    padding: 11px 7px;
    border-radius: 10px;
}

a:hover{
    background-color: var(--cor-botao);
    color: #ffffff;
    padding: 11px 7px;
}
a:active{
    color: black;
}

