@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


.container{
    background-color: var(--background-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.cartao{
    background-color: var(--advice-card-color) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    max-width: 500px;
    margin: 0px 20px;
    border-radius: 15px;
}

hr{
    width: 80%;
}

.advice-id p{
    color: var(--advice-dice-color);
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 15px;

}

.frase p{
    font-size: 23px;
    margin: 30px 20px;
    text-align: center;
    color: var(--text-color);
}

.botao{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--advice-dice-color);
    transform: translateY(50%);
}

.botao:hover{
    background-color: aqua;
    cursor: pointer;
}
.botao:active{
    transform: translateY(50%) scale(1.2);
}

