@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-color: #19A2AE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.numero,
.nome {
    font-weight: 700;
    padding: 10px 0;

}

.idade,
.localizacao,
.tipo {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.cartao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 330px;
    height: 500px;
    border-radius: 15px;
}

.imagemPerfil {
    display: flex;
    width: 70%;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

}

.dados p {
    display: inline-block;
}

.dados {
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 0;
    text-align: center;

}

.localizacao {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.redeSocial {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-self: flex-end;
    margin: 10px 0px;
    border-top: solid 2px rgb(202, 201, 201);
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    justify-content: space-evenly;
}

.seguidores {
    flex-wrap: nowrap;
    flex-direction: column;
}

.likes {
    flex-wrap: nowrap;
    flex-direction: column;


}

.fotos {
    flex-wrap: nowrap;
    flex-direction: column;

}